<mat-toolbar >

    <button mat-button routerLink="/">
        <mat-icon>home</mat-icon>
        {{title}}
    </button>

    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button mat-button routerLink="/profils">Profils</button>
        <button mat-button routerLink="/users">Utilisateurs</button>
        <button mat-menu-item><mat-icon class="white-icon">settings</mat-icon></button>
        <button mat-menu-item><mat-icon class="white-icon">exit_to_app</mat-icon></button>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
     <mat-icon>menu</mat-icon>
    </button>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/profils">Profils</button>
    <button mat-menu-item routerLink="/users">Utilisateurs</button>
    <button mat-menu-item><mat-icon class="white-icon">settings</mat-icon></button>
    <button mat-menu-item><mat-icon class="white-icon">exit_to_app</mat-icon></button>
</mat-menu>
<router-outlet></router-outlet>

